// Place all the styles related to the Comment controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
  .head{
    display: flex;

    span {
      padding: 0 0.3em;
      display: flex;
      align-items: center;
    }

    .username{
      font-weight: lighter;
    }

    .time {
      font-style: italic;
      font-size: 12px;
      color: #7c7c7c;
    }
  }
  .body {
    background-color: rgba(236, 233, 233, 0.62);
    padding: 0.3em;
  }
}

.comment-new{
  .body{
    textarea {
      min-width: 60em;
      min-height: 10vh;
    }
  }
}
