// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper {
  display: grid;
  grid-template-columns:  10vw 10vw 10vw 10vw 10vw;
  grid-gap: 1vw;
  color: #444;
  margin: 0.5em;
  justify-content: center
}

.search-form{
  margin-left: auto;
  padding: 0.5em 0;
  #search{
    width: 20vw;
  }
}

.pokemon-card {
  background-color: #fff;
  color: #2967a9;
  border-radius: 5px;
  padding: 0.3em;
}

.pokemon-id{
  color: rgba(162, 161, 161, 0.99);
  display: flex;
  justify-content: center;
}

.pokemon-name{
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }
  a:visited{
    color: black;
  }

  a:hover{
    text-decoration: underline;
  }
}

.pokemon-sprite{
  margin: 0;
  display: flex;
  justify-content: center;
}

.pokemon-type {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .type{
    border-radius: 1vh;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 0.1em 0.3em ;
    margin: 0.1em;
  }
}

.pagination{
  border-top: 2px solid black;
  background-color: #66ccff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;

  .prev , .next {
    span{
      margin: 0 1em;
      padding: 0.3em;
    }

    span:hover{
      background-color: #33c0bf;
      border-radius: 0.3em;
    }

    a {
      text-decoration: none;
      color: black;
    }
    a:visited{
      color: black;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  .pages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .page{
      border: 0.5px solid black;
      border-radius: 0.3em;
      margin: 0 0.5em;
      width: 1.5em;
      display: flex;
      justify-content: center;

    }

    .page:hover{
      background-color: #33c0bf;
    }

    .gap:hover, .active:hover{
      background-color: #66ccff;
    }

    a {
      text-decoration: none;
      color: black;
    }
    a:visited{
      color: black;
    }

    a:hover{
      text-decoration: underline;
    }
  }
}

.normal{
  background-color: #aa9 ;
}

.fire{
  background-color: #f42;
}

.water{
  background-color: #39f ;
}

.electric{
  background-color: #fc3;
}

.grass{
  background-color: #7c5;
}

.ice{
  background-color: #6cf;
}

.fighting{
  background-color: #b54;
}

.poison{
  background-color: #a59;
}

.ground{
  background-color: #db5;
}

.flying{
  background-color: #89f;
}

.psychic{
  background-color: #f59;
}

.bug{
  background-color: #ab2;
}

.rock{
  background-color: #ba6;
}

.ghost{
  background-color: #66b;
}

.dragon{
  background-color: #76e;
}

.dark{
  background-color: #754;
}

.steel{
  background-color: #aab;
}

.fairy{
  background-color: #e9e;
}